.movies {
  display: flex;
  flex-direction: column;
}

.movies__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  column-gap: 28px;
  row-gap: 32px;
  justify-content: center;
  padding: 70px 0 10px;
}
