.movies {
  display: flex;
  flex-direction: column;
}

.movies__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  column-gap: 28px;
  row-gap: 32px;
  justify-content: center;
  padding: 70px 0 10px;
}

.movies__btn {
  align-self: center;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background-color: #f4f4f4;
  border: none;
  padding: 0;
  margin: 50px 0 80px;
  cursor: pointer;
  transition: 0.3s;
}

.movies__btn:hover {
  opacity: 0.8;
}
