.footer {
  background-color: #f8f8f8;
}

.footer__container {
  min-height: 172px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 89%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__caption {
  margin: 0;
  padding: 80px 0 20px;
  border-bottom: 1px solid #e8e8e8;
  color: #a0a0a0;
  text-align: center;
}

.footer__info {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__nav-item {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}

.footer__nav-item:hover {
  opacity: 0.7;
}

@media screen and (max-width: 769px) {
  .footer__container {
    width: 92.2%;
  }

  .footer__nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  .footer__nav-item {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
  }

  .footer__nav-item:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 525px) {
  .footer__container {
    min-height: 270px;
    width: 93.75%;
    font-size: 12px;
    line-height: 14.5px;
  }

  .footer__info {
    padding-top: 32px;
    flex-direction: column-reverse;
  }

  .footer__nav {
    gap: 12px;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
  }
}
